# ROS2 build and install folders
build/
install/
log/

# Colcon and CMake files
colcon*.log
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python cache
__pycache__/
*.pyc

# Visual Studio Code settings
.vscode/

# ROS2 launch, params, and config files (optional, if generated)
*.launch.pyc
*.params.pyc

# Misc
*.swp
*.bak
*.tmp
*.orig

# Ignore .DS_Store (macOS)
.DS_Store

# personal files
docs/
run_face_detection.sh
specification.md
start_camera.sh
*.pt
*.pth
yolov8m.pt.4f653d8f8eb24fe98ffde12aefbf659e.partial